.align {
  background:url(../images/fondazo.jpg) repeat;
  display: grid;
  place-items: center;
}

:root {
  --gridMaxWidth: 40%;
  --gridWidth: 90%;
  --bg:#fff;
  --bh: darkcyan;
  --bb: rgb(0, 219, 219);
}

.grid {
  inline-size: var(--gridWidth);
  margin-inline: auto;
  max-inline-size: var(--gridMaxWidth);
}

:root {
  --bodyFontFamily: 'Helvetica', 'Arial';
  --bodyFontFamilyFallback: sans-serif;
  --bodyFontSize: 0.875rem;
  --bodyFontWeight: 400;
  --bodyLineHeight: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background-color: var(--bodyBackgroundColor);
  font-family: var(--bodyFontFamily), var(--bodyFontFamilyFallback);
  font-size: var(--bodyFontSize);
  font-weight: var(--bodyFontWeight);
  line-height: var(--bodyLineHeight);
  margin: 0;
  min-block-size: 100vh;
}

:root {
  --anchorColor: inherit;
  --anchorHoverColor: darkcyan;
}

a {
  color: var(--anchorColor);
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: var(--anchorHoverColor);
}

input[type='button'] {
  cursor: pointer;
}

.form input[type='email'],
.form input[type='password'] {
  inline-size: 100%;
}

:root {
  --loginBorderRadius: 0.25em;
  --loginHeaderBackgroundColor: darkcyan;

  --loginInputBorderRadius: 0.25em;
}

.login__header {
  background-color: var(--loginHeaderBackgroundColor);
  border-top-left-radius: var(--loginBorderRadius);
  border-top-right-radius: var(--loginBorderRadius);
  color: var(--bg);
  padding: 1.5em;
  text-align: center;
  text-transform: uppercase;
}

.login__title {
  font-size: 1rem;
  margin: 0;
}

.login__body {
  background-color: var(--bg);
  padding: 1.5em;
  position: relative;
}

.login__body::before {
  background-color: var(--bg);
  content: '';
  height: 0.5em;
  left: 50%;
  margin-left: -0.25em;
  margin-top: -0.25em;
  position: absolute;
  top: 0;
  transform: rotate(45deg);
  width: 0.5em;
}

.login input[type='email'],
.login input[type='password'] {
  border: 0.0625em solid var(--bg);
  padding: 1em 1.25em;
}

.login input[type='email'] {
  margin-top: 1rem;
  border-top-left-radius: var(--loginInputBorderRadius);
  border-top-right-radius: var(--loginInputBorderRadius);
}

.login input[type='password'] {
  border-bottom-left-radius: var(--loginInputBorderRadius);
  border-bottom-right-radius: var(--loginInputBorderRadius);
  border-top: 0;
  margin-bottom: 1rem;
}

.login input[type='button'] {
  display: none;
  background-color: var(--bh);
  border-radius: var(--loginInputBorderRadius);
  color: var(--bg);
  font-weight: 700;
  order: 1;
  padding: 0.75em 1.25em;
  transition: background-color 0.3s;
}

.login input[type='button']:focus,
.login input[type='button']:hover {
  background-color: var(--bb);
}

.container {
  display: flex;
}

p {
  display: none;
  color: red;
}